header {
    position: relative;
    padding: 1.5rem;
}

.navbar {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo img {
    height: 4.5rem;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover {
    scale: 1.05;
}

.action_btn:active {
    scale: 0,95;
}

/* DROPDOWN MENU */
.dropdown_menu {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 120px;
    height: 0;
    width: 90%;
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 2
}


.dropdown_menu.open {
    height: 270px;
    background-color: #FAFAFA;
}

.dropdown_menu li {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu li:hover {
    background-color: #ffffff;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}
.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* RESPONSIVE DESIGN */
@media (max-width: 992px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

